@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/openSans/OpenSans-Bold.woff2") format("woff2"), url("/fonts/openSans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/openSans/OpenSans-SemiBold.woff2") format("woff2"), url("/fonts/openSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/openSans/OpenSans-Regular.woff2") format("woff2"), url("/fonts/openSans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("/fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("/fonts/poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-icon {
  width: 120px;
  height: 20px;
  cursor: pointer;
  display: block;
}

header .header-btn {
  width: 95px;
  height: 28px;
  background-color: inherit;
  color: #ee539b;
  border: 1px solid #ee539b;
  border-radius: 50px;
}

@media (min-width: 1024px) {
  header .logo-icon {
    width: 150px;
    height: 25px;
  }
  header .header-btn {
    width: 110px;
    height: 30px;
    cursor: pointer;
  }
  header .header-btn:hover {
    color: #e68bc9;
    border: 1px solid #e68bc9;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 80px 80px 40px;
      grid-template-rows: 80px 80px 40px;
  grid-row-gap: 40px;
  justify-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

main .main-title {
  color: #00252e;
  font-size: 28px;
  font-family: 'Poppins';
  line-height: 40px;
}

main .main-paragraph {
  font-size: 14px;
  line-height: 20px;
  color: #00252e;
}

main .main-btn {
  width: 200px;
  background-color: #fd53c0;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-family: 'Open Sans';
  font-weight: 700;
  cursor: pointer;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 37, 46, 0.2);
          box-shadow: 2px 5px 5px rgba(0, 37, 46, 0.2);
}

main .main-btn:hover {
  background-color: #ff8ed6;
}

main .main-img {
  max-width: 100%;
  margin-top: 60px;
  max-height: 540px;
}

@media (min-width: 768px) {
  main {
    -ms-grid-rows: 75px 80px 45px;
        grid-template-rows: 75px 80px 45px;
    grid-row-gap: 20px;
  }
  main .main-title {
    font-size: 35px;
  }
  main .main-paragraph {
    max-width: 440px;
  }
  main .main-btn {
    width: 280px;
  }
}

.community-statistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-row-gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
}

.community-statistics .static-item-img {
  width: 22px;
  height: 20px;
}

.community-statistics .static-item-h1 {
  font-size: 60px;
  color: #00252e;
}

.community-statistics .static-paragraph {
  color: #94a3aa;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .community-statistics {
    -ms-grid-columns: 160px 180px;
        grid-template-columns: 160px 180px;
    grid-column-gap: 360px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.advantage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 580px;
      grid-template-rows: 580px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6fbff;
  padding: 0 40px;
  position: relative;
}

.advantage .grow-together {
  max-width: 1200px;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.advantage .grow-together .grow-img {
  max-width: 400px;
  max-height: 340px;
}

.advantage .grow-together .grow-img .gow__item {
  width: 100%;
  height: 100%;
}

.advantage__item2 {
  background-color: white;
}

.advantage-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 60px;
}

.advantage-paragraph {
  font-size: 16px;
  line-height: 25px;
}

@media (min-width: 1024px) {
  .grow-together {
    -ms-grid-columns: auto 600px;
        grid-template-columns: auto 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grow-together .advantage-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    text-align: left;
  }
  .grow-together .grow-img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .grow-together__item2 {
    -ms-grid-columns: 600px auto;
        grid-template-columns: 600px auto;
  }
  .grow-together__item2 .advantage-text__item2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/ 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .grow-together__item2 .grow-img__item2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.wave {
  max-width: 100%;
  max-height: 180px;
}

.wave .wave__item {
  display: block;
  width: 100%;
  height: 100%;
}

.personal-community {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 120px 40px;
      grid-template-rows: 120px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 100%;
  height: 500px;
}

.personal-community .community-title {
  max-width: 100%;
  text-align: center;
  color: #002130;
  font-family: 'Poppins';
}

.personal-community .community-btn {
  width: 300px;
  background-color: #fd53c0;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-family: 'Open Sans';
  font-weight: 700;
  cursor: pointer;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 37, 46, 0.2);
          box-shadow: 2px 5px 5px rgba(0, 37, 46, 0.2);
}

.personal-community .community-btn:hover {
  background-color: #ff8ed6;
}

@media (min-width: 768px) {
  .personal-community {
    -ms-grid-rows: 80px 40px;
        grid-template-rows: 80px 40px;
  }
}

footer {
  max-width: 1440px;
  max-height: 820px;
  background-color: #00252e;
  color: #fff;
  padding: 60px 20px;
}

footer .subscribe h1 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer .subscribe p {
  font-size: 14px;
  line-height: 26px;
}

footer .subscribe .input_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  max-width: 768px;
}

footer .subscribe .input_wrap .input_box {
  max-width: 450px;
  text-align: right;
  margin-top: 40px;
}

footer .subscribe .input_wrap input {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  margin-bottom: 18px;
}

footer .subscribe .input_wrap button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background-color: #fe52c0;
  color: #fff;
}

footer .about {
  margin-top: 80px;
}

footer .about .footer_logo img {
  width: 180px;
}

footer .about .about_content {
  font-size: 14px;
  line-height: 26px;
  margin: 16px 0 40px 0;
}

footer .about .contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 180px;
      grid-template-columns: 40px 180px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .about .phone {
  margin-bottom: 20px;
}

footer .about .media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28px 28px 28px;
      grid-template-columns: 28px 28px 28px;
  grid-column-gap: 20px;
  margin-top: 60px;
}

footer .about .media svg {
  display: block;
}

footer .about .media svg path {
  fill: #fff;
}

@media (min-width: 768px) {
  footer .subscribe {
    text-align: center;
  }
  footer .subscribe .input_wrap {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .subscribe .input_wrap .input_box {
    text-align: center;
  }
  footer .about {
    text-align: center;
  }
  footer .about .contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .about .media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 350px 500px;
        grid-template-columns: 350px 500px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 100px;
  }
  footer .subscribe {
    text-align: left;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  footer .subscribe p {
    max-width: 350px;
  }
  footer .subscribe .input_wrap {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  footer .subscribe .input_wrap .input_box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 150px;
        grid-template-columns: 300px 150px;
    grid-column-gap: 50px;
    max-width: 500px;
  }
  footer .subscribe .input_wrap .input_box button {
    width: 100%;
  }
  footer .about {
    margin-top: 0;
    text-align: left;
  }
  footer .about .contact {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  footer .about .media {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1440px;
  border: 1px solid;
  margin: 0 auto;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px minmax(850px) 130px auto;
      grid-template-rows: 40px minmax(850px) 130px auto;
  grid-row-gap: 120px;
  max-width: 980px;
  padding: 20px  30px;
  margin: 0 auto;
}

.container__item {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */