@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/openSans/OpenSans-Bold.woff2") format("woff2"), url("/fonts/openSans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/openSans/OpenSans-SemiBold.woff2") format("woff2"), url("/fonts/openSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/openSans/OpenSans-Regular.woff2") format("woff2"), url("/fonts/openSans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("/fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("/fonts/poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-icon {
  width: 120px;
  height: 20px;
}

header .header-btn {
  width: 95px;
  height: 28px;
  background-color: inherit;
  color: #ee539b;
  border: 1px solid #ee539b;
  border-radius: 50px;
}

@media (min-width: 1024px) {
  header .logo-icon {
    width: 150px;
    height: 25px;
  }
  header .header-btn {
    width: 110px;
    height: 30px;
    cursor: pointer;
  }
  header .header-btn:hover {
    color: #e68bc9;
    border: 1px solid #e68bc9;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 80px 80px 40px;
      grid-template-rows: 80px 80px 40px;
  grid-row-gap: 40px;
  justify-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

main .main-title {
  color: #00252e;
  font-size: 28px;
  font-family: 'Poppins';
  line-height: 40px;
}

main .main-paragraph {
  font-size: 14px;
  line-height: 20px;
  color: #00252e;
}

main .main-btn {
  width: 200px;
  background-color: #fd53c0;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-family: 'Open Sans';
  font-weight: 700;
  cursor: pointer;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 37, 46, 0.2);
          box-shadow: 2px 5px 5px rgba(0, 37, 46, 0.2);
}

main .main-btn:hover {
  background-color: #ff8ed6;
}

main .main-img {
  max-width: 100%;
  margin-top: 60px;
  max-height: 540px;
}

@media (min-width: 768px) {
  main {
    -ms-grid-rows: 75px 80px 45px;
        grid-template-rows: 75px 80px 45px;
    grid-row-gap: 20px;
  }
  main .main-title {
    font-size: 35px;
  }
  main .main-paragraph {
    max-width: 440px;
  }
  main .main-btn {
    width: 280px;
  }
}

.community-statistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-row-gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
}

.community-statistics .static-item-img {
  width: 22px;
  height: 20px;
}

.community-statistics .static-item-h1 {
  font-size: 60px;
  color: #00252e;
}

.community-statistics .static-paragraph {
  color: #94a3aa;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .community-statistics {
    -ms-grid-columns: 160px 180px;
        grid-template-columns: 160px 180px;
    grid-column-gap: 360px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px minmax(850px) 130px;
      grid-template-rows: 40px minmax(850px) 130px;
  grid-row-gap: 120px;
  max-width: 980px;
  min-height: 100vh;
  padding: 20px 20px 30px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */